@import url('https://fonts.cdnfonts.com/css/vcr-osd-mono');

:root {
    --main-color: #F2F2F2;
    --bg-color: #0A0A0A;
}

body {
    background-color: var(--bg-color);
    color: var(--main-color);
    font-family: 'VCR OSD Mono', sans-serif;
    font-size: large;
}

main {
    overflow: hidden;
}

section {
    padding: 5%;
}

#hub {
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}

@keyframes slideInFromAboveLeft {
    0% {
      transform: translate(-100%, -200%);
    }
    100% {
      transform: translate(0, 0);
    }
  }

  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

h1 {
    font-size: 6em;
    margin: 0;
    animation: .7s ease-out 0s 1 slideInFromAboveLeft;
}

#title {
    font-size: 6em;
    margin: 0;
    width: 50%;
}

#hub p {
    width: 70%;
    animation: .7s ease-in-out 0s 1 slideInFromLeft;
}

nav {
    float: right;
    height: 100hv;
    position: sticky;
    top: 35%;
    width: 15%
}

nav ul {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    margin-top: 2em;
    padding-right: 2em;
    text-align: end;
    width: 100%;
}

nav a {
    padding: 15px;
    color: inherit;
    text-decoration: none;
    transition-duration: 0.5s;
}


nav ul li a:hover {
    padding-right: 40px;
}

#projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.detailsProjet {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(
        0,
        0,
        0,
        0.5
    );
    display: none;
    align-items: center;
    justify-content: center;
}

.popupContent {
    background-color: var(--bg-color);
    border: 3px solid;
    border-radius: 20px;
    padding: 20px;
    width: 85%;
    height: 80%;
}

.detailsProjet .project-content {
    padding: 0;
    overflow: scroll;
    height: 85%;
    width: 80%;
    margin: auto;
}

.detailsProjet .project-head {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 20px;
    height: 10%;
}

.detailsProjet .project-head .language-logos {
    display: flex;
    gap: 10px;
}

.detailsProjet .project-head .language-logos img {
    height: 4em;
}

.detailsProjet hr {
    width: 100%;
}



.show {
    display: flex;
}

.project {
    width: 40%;
    border: 3px solid;
    border-radius: 20px;
    padding:0;
    margin: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition-duration: 0.5s;
}

.project:hover {
    transform: scale(1.05);
}

.project img {
    width: 100%;
    border-radius: 16px 16px 0px 0px;
}

.project h3 {
    text-align: center;
}

.project p {
    margin: 10px;
    text-align: justify;
}

.project button, .detailsProjet button {
    font: inherit;
    padding: 1em 3em;
    margin: .5em;
    background-color: var(--main-color);
    color: var(--bg-color);
    border: none;
    border-radius: 5px;
}

hr {
    width: 60%;
    border: 2px solid;
    color: inherit;
    border-radius: 5px;
}

.btn-container {
    display: flex;
}

.source {
    padding: 1em 3em;
    margin: .5em;
    background-color: var(--main-color);
    color: var(--bg-color);
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

#CV {
    height: 100vh;
}

#about {
    width: 50%;
    margin: auto;
}

#about li {
    margin-top: 10px;
}

#about a {
    color: var(--main-color);
    transition-duration: 0.2s;
}

#about a:hover {
    color: blue;
}